@model UnityAssetStore.Models.Category

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Удалить категорию";
}

<h2>Вы уверены, что хотите удалить "@Model.Name"?</h2>

<form asp-area="Admin" asp-controller="Category" asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="btn btn-secondary">Отмена</a>
</form>