@{
    ViewData["Title"] = "Главная";
}

<div class="text-center mt-5">
    <h1 class="display-4">Добро пожаловать в Unity Asset Store</h1>
    <p class="lead">Здесь вы можете найти лучшие активы для ваших проектов на Unity.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Assets" asp-action="Index">Посмотреть каталог</a>
</div>