<h2>Ваш заказ оформлен!</h2>
<p>Спасибо за покупку.</p>
<p><strong>ID заказа:</strong> @ViewBag.OrderId</p>

<a asp-controller="Orders" asp-action="Index" class="btn btn-primary">Посмотреть историю заказов</a>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Продолжить покупки</a>